    <div class="jumbotron text-center p-0 mb-0">


        <footer class="page-footer font-small special-color-dark pt-4">
    
            <!-- Footer Elements -->
            <div class="container">
    
                <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a class=" mx-1 rounded-circle  text-white d-flex justify-content-center "
                            style="width: 40px; height: 40px ;background: #3b5998">
                            <i class="fab fa-facebook-f" style="line-height: 40px"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class=" mx-1 rounded-circle bg-info text-white d-flex justify-content-center "
                            style="width: 40px; height: 40px ;background: #55acee!important">
                            <i class="fab fa-twitter" style="line-height: 40px"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class=" mx-1 rounded-circle bg-danger text-white d-flex justify-content-center "
                            style="width: 40px; height: 40px ;background: #3b5998">
                            <i class="fab fa-google-plus-g" style="line-height: 40px"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class=" mx-1 rounded-circle bg-primary text-white d-flex justify-content-center "
                            style="width: 40px; height: 40px ;background: #0082ca!important">
                            <i class="fab fa fa-linkedin" style="line-height: 40px"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class=" mx-1 rounded-circle bg-primary text-white d-flex justify-content-center "
                            style="width: 40px; height: 40px ;background: #ec4a89!important">
                            <i class="fab fa-dribbble" style="line-height: 40px"> </i>
                        </a>
                    </li>
    
                </ul>
                <!-- Social buttons -->
    
            </div>
            <!-- Footer Elements -->
    
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 bg-danger text-white">© 2020 Copyright: Khanhvinh@gmail.com
                <!-- <a class="text-white"> DuyTanShop</a> -->
            </div>
            <!-- Copyright -->
    
        </footer>
    </div>