<ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig" class="d-md-flex d-none flex-row px-0 "
    style="max-height: 423px ;max-width: 665px ; width: fit-content;height: fit-content;">
    <div ngxSlickItem>
        <div class="card">
            <img src="{{api_url}}/upload/slide1.png" class="h-100 w-100">
        </div>
    </div>
    <div ngxSlickItem>
        <div class="card">
            <img src="{{api_url}}/upload/slide4.png" class="h-100 w-100">
        </div>
    </div>
    <div ngxSlickItem>
        <div class="card">
            <img src="{{api_url}}/upload/slide2.png" class="h-100 w-100">
        </div>
    </div>
</ngx-slick-carousel>
<ngx-slick-carousel #slickModal2="slick-carousel" [config]="slideConfig" class="d-flex d-md-none  w-100 ">
    <div ngxSlickItem>
        <div class="card">
            <img src="{{api_url}}/upload/slide1.png" class="h-100 w-100">
        </div>
    </div>
    <div ngxSlickItem>
        <div class="card">
            <img src="{{api_url}}/upload/slide4.png" class="h-100 w-100">
        </div>
    </div>
    <div ngxSlickItem>
        <div class="card">
            <img src="{{api_url}}/upload/slide2.png" class="h-100 w-100">
        </div>
    </div>
</ngx-slick-carousel>
