<mat-sidenav-container style="z-index: 9999">
    <mat-sidenav #sidenav2 position="end" [(opened)]="opened_filter" [fixedInViewport]="true" [fixedTopGap]="65"
        mode="over" class="p-3">
        <div style="max-width: 200px;height: 100%;">
            <!-- <app-box-filter></app-box-filter> -->
        </div>
    </mat-sidenav>
    <mat-sidenav #sidenav position="start" [(opened)]="opened" [fixedInViewport]="true" [fixedTopGap]="62" mode="over"
        style="background: none;border:none;box-shadow: none !important;height: fit-content; width: 101%; height: 100%; background-color: #ffffff;" >
        <mat-accordion> 
            <div style="background-color: #ffffff;"> 
               
                    <a [routerLink]="['/']" routerLinkActive="router-link-active"
                        class="w-100 d-flex justify-content-center justify-content-lg-start">
                        <img src="{{api_url}}/upload/other/logomk.png" style="    max-height: 3rem;">      
                    </a>  
                    <div class="input-group m-0 ml-2" style="max-width: 100%;padding: 2% 17% 2% 17%;">
                        <input type="text"
                            class="form-control" placeholder="Nhập để tìm ...">
                        <div class="input-group-append">
                            <button class="input-group-text bg-danger text-white">Tìm
                                kiếm</button>
                        </div>
                    </div>      
            </div>
            
            <mat-expansion-panel *ngFor="let dm of danhmucs ;let i=index">
                <mat-expansion-panel-header (click)="expandPanel($event)">
                    <div class="p-3">
                        <div>
                            <span (click)="onClickDanhMuc(dm)" class="{{dm.hinh}}" style="width: 1.25rem"></span>
                            <label class=" m-0 ml-2 "> {{ dm?.tenDanhmuc }}</label>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <mat-list class=" px-3">
                    <mat-divider>
                    </mat-divider>
                    <ng-container *ngFor="let item of getsub_danhmuc(dm?.id,6)" class="text-center">
                        <mat-list-item (click)="onClickDanhMuc(item)" style="font-size:0.8rem;height: 2rem;">
                            <button mat-button>{{item?.tenDanhmuc}}</button>
                        </mat-list-item>
                        <mat-divider>
                        </mat-divider>
                    </ng-container>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>    
</mat-sidenav-container>

<div>
<app-header-page></app-header-page>
<router-outlet  (deactivate)="onDeactivate()"></router-outlet>
<app-footer-page></app-footer-page>
</div>