<div class="modal-header ">
    <h4 class="modal-title text-center w-100 position-relative ">Khôi phục mật khẩu
        <button class="position-absolute" style="right: 0" type="button" class="close"
            (click)="onNoClick()">&times;</button>
    </h4>

</div>
<div class="modal-body px-4">
    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{error_content}}
    </div>
    <form [formGroup]="frm" (ngSubmit)="onSubmitForm()" class=" d-flex flex-column">
        <div class="form-group">
            <div class="d-flex flex-row justify-content-between">
                <label for="email">Email:</label>
                <span [ngClass]="onValidatorTextColor('email')" [innerHTML]="onValidator('email')"></span>
            </div>
            <input class="form-control " [ngClass]="onValidatorBorderColor('email')" placeholder="Nhập email "
                formControlName="email" />
        </div>

        <div class="pb-3">
            <re-captcha (resolved)="resolved($event)" siteKey="6LcXJrcUAAAAAOu5JqPaB0-2Gim_ixq6BIpaGxhx">
            </re-captcha>
        </div>

        <button type="submit" class="btn btn-info align-self-center w-100 "
            [disabled]="frm.invalid || !reCatcha_status">Khôi phục</button>
    </form>
</div>

<div class="modal-footer d-flex">
    <button class="mr-auto btn-link btn" [mat-dialog-close]="'dangky'">Đăng ký</button>
    <button class=" btn-link btn" [mat-dialog-close]="'dangnhap'">Đăng nhập</button>


</div>