<div class="container justify-content-center">
    <div class="card" style="max-width: 600px">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <div class="alert alert-danger" role="alert" *ngIf="error">
                {{error_content}}
            </div>
            <form [formGroup]="frm" (ngSubmit)="onSubmitForm()">
                <div class="d-flex flex-column">
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" formControlName="password">
                    </mat-form-field>
                    <mat-checkbox formControlName="remember">Remember me</mat-checkbox>
                    <div>
                        <button type="submit" mat-raised-button color="primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>